﻿p { margin: 1em 0; }

.pointer { cursor: pointer; }

.discountBanner { color: #933; border: 1px dashed #933; border-radius: 15px; padding: 10px; display: inline-block; margin: 1em 0; }
.discountBanner p { margin: 0; }
.discountBanner p.-title { font-size: 200%; font-weight: bold; }

.myRequest img { float: left; padding: 0 1em 1em 0; }

table.commonOrder { width: auto; }
table.commonOrder td.realName { padding-right: 3em; min-width: 20em; }
table.commonOrder td.pieces { white-space: nowrap; }

.commonOrderItem .pizzaInfo { float: left; padding-right: 1em; }
.commonOrderItem .pizzaInfo img { display: block; }
.commonOrderItem .pizzaInfo .price { text-align: center; }
.readyOrNot { font-size: 140%; margin-top: 0; }
form.createForm { margin-top: 2em; }

body {
  padding-top: 70px;
  padding-bottom: 40px;
}

.logo {
	background: url('../images/logo.jpg') center no-repeat;
	height: 71px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin-register input[name="realName"] {
  margin-bottom: 10px;
}

table.order-per-user-details td.username { vertical-align: middle; }
table.order-per-user-details td.price { vertical-align: middle; text-align: right; }
table.order-per-user-details tr.paid-part { background-color: #cec; }
table.order-per-user-details tr.paid-full { background-color: #cfc; }
table.order-per-user-details tr .hover-show { visibility: hidden; margin: 0 0.5em; color: #ccc; }
table.order-per-user-details tr:hover .hover-show { visibility: visible; }
table.order-per-user-details tr .hover-show:hover { color: #999; }

ul.orders-list li.active { color: #000; font-weight: bold; }
ul.orders-list li.fixed { color: #c99;  }
ul.orders-list li.ordered { color: #cc9;  }
ul.orders-list li.delivered { color: #9c9;  }
ul.orders-list li.cancelled { color: #999; text-decoration: line-through; }

.printButton { text-align: right; }

@media print {
    body { padding-top: 0; padding-bottom: 0; }
    .printButton { display: none; }
}
