/*body { margin: 0; padding: 10px; font: normal 15px 'Times New Roman'; }
#sessionBar { background-color: #eee; text-align: right; padding: 5px 10px; margin: -10px -10px -10px -10px; border-bottom: 1px solid #ccc; }
#sessionBar a.email { margin-right: 10px; font-weight: bold; }
#sessionBar a.realName { margin-right: 10px; }

table.myRequests { border-collapse: collapse; }
table.myRequests tr.ready { background-color: #cfc; }
table.myRequests tr.notReady { background-color: #fcc; }

table.commonOrder { border-collapse: collapse; }
table.commonOrder tr.ready { background-color: #cfc; }
table.commonOrder tr.notReady { background-color: #fcc; }
table.commonOrder td.title-and-image { font-size: 150%; }

p.myTotalPrice { font-size: 120%; color: #633; }
p.myTotalPrice .price { font-weight: bold; }

p.totalOrderPrice { font-size: 120%; }
p.totalOrderPrice .price { font-weight: bold; }*/

body {
  padding-top: 70px;
  padding-bottom: 40px;
  /*background-color: #eee;*/
}

.logo {
	background: url('../images/logo.jpg') center no-repeat;
	height: 71px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin-register input[name="realName"] {
  margin-bottom: 10px;
}

table.order-per-user-details td.username { vertical-align: middle; }
table.order-per-user-details td.price { vertical-align: middle; text-align: right; }

ul.orders-list li.active { color: #000; font-weight: bold; }
ul.orders-list li.fixed { color: #c99;  }
ul.orders-list li.ordered { color: #cc9;  }
ul.orders-list li.delivered { color: #9c9;  }
ul.orders-list li.cancelled { color: #999; text-decoration: line-through; }